p {
      color: #666666;
      width: 80%;
}
div{
      color: #666666;
      width: 80%;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
}
span{
      color: #660000;
      line-height: 3em;
}
h1{
      color: #009900;
      font-size: 240%
}
img{
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
}
.clear{
      clear: both;
}
.longBox{
      height: 120em;
}
a{
      font-size: 150%;
      font-weight: bold;
      color: #FF6666;
      text-decoration: none;
}
a:hover{
      color: #9900FF;
      text-decoration: underline;
      font-style: italic;
}
#gotoNext {
    background: url(../image/gotoNext.gif) no-repeat left center;
    width: 154px;
    height: 39px;
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 36px;
    text-indent:1em;
}
#gotoNext:hover {
    background: url(../image/gotoNext.gif) no-repeat right center;
    text-decoration: none;
    font-style: normal;
}
body{
      background: #b3d7db
}
#container{
      width: 80%;
      max-width: 900px;
      margin: auto;
      padding: 30px;
      background: white
}
header{
      display: block;
      background: #333;
      color: white
}
footer {
    display:block;  /*古めのブラウザ対策のため、一応ブロックレベルに*/
    background:#333;
    color:white;
    font-weight:bold;  /*太く*/
    font-size:85%;  /*ちょっと小さい文字で*/
    line-height:1em;  /*行の高さは1文字分（全体が 1.6文字分になってるので詰めた）*/
    text-align: center;  /*テキストはセンター合わせに*/
    padding: 10px  /*パディングを10pxに*/
    }
footer a {color:#ccc}
footer a:hover {color:#6c9}
