p {
      color: #666666;
      width: 80%;
}
div{
      color: #666666;
      width: 80%;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
}
span{
      color: #660000;
      line-height: 3em;
}
h1{
      color: #009900;
      font-size: 30px;
}
img{
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
}
.clear{
      clear: both;
}
.longBox{
      height: 120em;
}
a{
      font-size: 150%;
      font-weight: bold;
      color: #FF6666;
      text-decoration: none;
}
a:hover{
      color: #9900FF;
      text-decoration: underline;
      font-style: italic;
}
#gotoNext {
    background: url(../image/gotoNext.gif) no-repeat left center;
    width: 154px;
    height: 39px;
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 36px;
    text-indent:1em;
}
#gotoNext:hover {
    background: url(../image/gotoNext.gif) no-repeat right center;
    text-decoration: none;
    font-style: normal;
}
